
.weather-header {
    background: #051150; /* fallback for old browsers */ 
    background: -webkit-linear-gradient(
        to right,
        #386398,
        #121e55
    ); /* Chrome 10-25, Safari 5.1-6 */ 
    background: linear-gradient(
        to right,
        #386398,
        #121e55
    );
    
}

#today {
    padding-top: 0px;
    padding-left: 15px;
}

#today p {
    color: rgb(101, 99, 99);
}